include mixins/mixins

.content-body
  +banner
  h1.tagline a bright theme with pastel '
    span.groove r
    span.groove e
    span.groove t
    span.groove r
    span.groove o
    =' '
    span.groove g
    span.groove r
    span.groove o
    span.groove o
    span.groove v
    span.groove e
    |' colors
  blockquote(cite="https://github.com/morhetz/gruvbox").info.
    gruvbox is heavily inspired by <a href="https://github.com/sjl/badwolf">badwolf</a>, <a href="https://github.com/nanotech/jellybeans.vim">jellybeans</a>, and <a href="http://ethanschoonover.com/solarized">solarized</a>.

    Designed as a bright theme with pastel 'retro groove' colors and light/dark mode switching in the way of solarized. The main focus when developing gruvbox was to keep colors easily distinguishable while still being pleasant on the eyes.

    &mdash; <cite><a href="https://github.com/morhetz">Pavel Pertsev</a>, creator of <a href="https://github.com/morhetz/gruvbox">gruvbox for Vim</a></cite>
  div
    a.call-to-action(href="#/experiment") Preview Features
    a.call-to-action(href="https://github.com/Briles/gruvbox") View on GitHub
    a.call-to-action(
      href="https://packagecontrol.io/packages/gruvbox"
    ) View on Package Control
