include mixins/mixins

.content-body
  +banner
  h1.tagline a bright theme with pastel '
    span.groove r
    span.groove e
    span.groove t
    span.groove r
    span.groove o
    =' '
    span.groove g
    span.groove r
    span.groove o
    span.groove o
    span.groove v
    span.groove e
    |' colors
  div
    a.call-to-action(href="#/experiment") Preview Features
    a.call-to-action(href="https://github.com/briles/gruvbox") View on GitHub
    a.call-to-action(
      href="https://packagecontrol.io/packages/gruvbox"
    ) View on Package Control
