doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title gruvbox for Sublime Text 3
    meta(name='description', content='a bright Sublime Text 3 theme with pastel \'retro groove\' colors that are easy on the eyes.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='main.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css')
  body
    img.logo(src="src/assets/images/banner-image.svg" alt="gruvbox for Sublime Text logo")
    .centered
        h1.tagline a bright theme with pastel '
            span.groove r
            span.groove e
            span.groove t
            span.groove r
            span.groove o
            =' '
            span.groove g
            span.groove r
            span.groove o
            span.groove o
            span.groove v
            span.groove e
            |' colors
    p.centered
        a.cta(href="https://packagecontrol.io/packages/gruvbox") download
        a.cta(href="https://github.com/Briles/gruvbox") view on GitHub
    .screenshot-stack
        .screenshot
            h2 dark
            img(src="src/assets/images/dark.png" alt="gruvbox dark")
        .screenshot
            h2 light
            img(src="src/assets/images/light.png" alt="gruvbox light")
    p.copyright Made with
        span.heart &lt;3
        ='by '
        a(href="https://github.com/briles") Brian Reilly

