.code-sample
  ul.line-numbers
    li 1
    each opt, index in sublimeOptions
      li=index+2
    li=(sublimeOptions.length + 2)
    li=(sublimeOptions.length + 3)
  pre
    ul.buffer
      li
        code
          span.punctuation {
        each option in sublimeOptions
          li
            code
              span.whitespace &nbsp;&nbsp;
              span.punctuation "
              span.string #{option}
              span.punctuation ":
              span.whitespace &nbsp;
              span.constant false
              span.punctuation ,
      li
        code
          span.punctuation }
