/* COLOR SCHEME TEST "gruvbox/gruvbox (Dark) (Medium).sublime-color-scheme" "CSS" */

   /* What am I, a comment? */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^ fg=#928374 fs=italic */

.test-strings {
/* ^^^^^^^^^^ fg=#fabd2f fs= */
/*            ^ fg=#ebdbb2 fs= */
    content: 'invalid;
/*  ^^^^^^^ fg=#b8bb26 fs= */
/*         ^ fg=#ebdbb2 fs= */
/*           ^ fg=#ebdbb2 fs= */
/*            ^^^^^^^^ fg=#b8bb26 fs= */
}

.test-punctuation {
/*                ^ fg=#ebdbb2 */
    top: 1px;
/*     ^ fg=#ebdbb2 */
/*       ^ fg=#D3869B */
/*        ^^ fg=#B16286 */
/*          ^ fg=#ebdbb2 */

    top: cubic-bezier(0.2, 0, 0.13, 2);
/*       ^^^^^^^^^^^^ fg=#8EC07C */
/*                    ^^^ fg=#D3869B */
/*                       ^ fg=#ebdbb2 */

    top: url("image");
/*          ^ fg=#BDAE93 */
/*                  ^ fg=#BDAE93 */
   }
/* ^ fg=#ebdbb2 */

    .classname {}
/*  ^ fg=#D79921 */

    #id {}
/*  ^ fg=#D65D0E */
/*   ^^ fg=#FE8019 */

    html {}
/*  ^^^^ fg=#83A598 */

    @charset "UTF-8";
/*  ^ fg=#CC241D */
/*   ^^^^^^^ fg=#FB4934 */

    @import "x" print;
/*              ^^^^^ fg=#D3869B */

    @namespace svg "http://www.w3.org/1999/xhtml";
/*             ^^^ fg=#8EC07C */

    @page :left {}
/*        ^ fg=#ebdbb2 */
/*         ^^^^ fg=#D79921 */

    @media (min-width: 700px) {}
/*         ^ fg=#ebdbb2 */
/*                          ^ fg=#ebdbb2 */

    @media only screen and (-webkit-min-device-pixel-ratio: 13/10),
/*                          ^^^^^^^^ fg=#98971A */
/*                                                            ^ fg=#8EC07C */

    only screen and (min-resolution: 120dpi)
/*                                   ^^^ fg=#D3869B */
/*                                      ^^^ fg=#B16286 */

{}

@supports (--foo: green) {
/*         ^^ fg=#458588 */
/*           ^^^ fg=#83A598 */
}
