mixin icon-checkmark
  svg.icon(aria-label="Checkbox" height="24" width="24" version="1.1" role="img" viewbox="0 0 24 24")
    path(d="M11,20c-0.2636719,0-0.5185547-0.1044922-0.7070313-0.2929688l-6-6c-0.390625-0.390625-0.390625-1.0234375,0-1.4140625s1.0234375-0.390625,1.4140625,0l5.0742188,5.0742188l7.3505859-12.8632813c0.2734375-0.4804688,0.8837891-0.6464844,1.3642578-0.3720703c0.4794922,0.2739258,0.6464844,0.8847656,0.3720703,1.3642578l-8,14c-0.1547852,0.2705078-0.4267578,0.4541016-0.7353516,0.4951172C11.0883789,19.9970703,11.0439453,20,11,20z")

mixin icon-folder
  svg.icon(aria-label="Folder" height="16" width="16" version="1.1" role="img" viewbox="0 0 16 16")
    path(d="M8,5c1.6542091,0,3,1.3457909,3,3s-1.3457909,3-3,3S5,9.6542091,5,8S6.3457909,5,8,5M8,4C5.7908287,4,4,5.7908325,4,8c0,2.2091103,1.7908287,4,4,4s4-1.7908897,4-4C12,5.7908325,10.2091713,4,8,4L8,4z")

mixin icon-more
  svg.icon(aria-label="Show Tabs Dropdown Button" height="24" width="24" version="1.1" role="img" viewbox="0 0 24 24")
    path(d="M10,6c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2s-0.9,2-2,2C10.9,8,10,7.1,10,6z M12,10c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S13.1,10,12,10z M12,16c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S13.1,16,12,16z")

mixin icon-panels-button(classlist)
  svg.icon(class="#{classlist}" aria-label="Panel Control" height="24" width="24" version="1.1" role="img" viewbox="0 0 24 24")
    path(d="M19.5,6h-15C4.2249756,6,4,6.2249756,4,6.5v11C4,17.7750244,4.2249756,18,4.5,18h15 c0.2750244,0,0.5-0.2249756,0.5-0.5v-11C20,6.2249756,19.7750244,6,19.5,6z M5,11h14v6H5V11z M5,10V7h14v3H5z")

mixin icon-tab-close(classlist)
  svg.icon(class="#{classlist}" aria-label="Close" height="16" width="16" version="1.1" role="img" viewbox="0 0 16 16")
    path(d="M11.8535156,11.1464844c0.1953125,0.1953125,0.1953125,0.5117188,0,0.7070313C11.7558594,11.9511719,11.6279297,12,11.5,12s-0.2558594-0.0488281-0.3535156-0.1464844L8,8.7070313l-3.1464844,3.1464844C4.7558594,11.9511719,4.6279297,12,4.5,12s-0.2558594-0.0488281-0.3535156-0.1464844c-0.1953125-0.1953125-0.1953125-0.5117188,0-0.7070313L7.2929688,8L4.1464844,4.8535156c-0.1953125-0.1953125-0.1953125-0.5117188,0-0.7070313s0.5117188-0.1953125,0.7070313,0L8,7.2929688l3.1464844-3.1464844c0.1953125-0.1953125,0.5117188-0.1953125,0.7070313,0s0.1953125,0.5117188,0,0.7070313L8.7070313,8L11.8535156,11.1464844z")
