.command-palette-wrapper <!--(ng-if="commandPaletteVisible")-->
  .command-palette-header
    input(type="text" value="Abt")
  .command-palette-body
    ul.commands
      li.selected <span class="match">Ab</span>ou<span class="match">t</span>
      li Break Line At Commas
      li Changelog
      li Check for Updates
      li Close Window
      li Edit: Copy
      li Edit: Undo
      li File: Close
      li Find...
      li Find Next
      li Find Previous
      li Find in Files...
      li Set Syntax: JavaScript
      li Set Syntax: Python
      li Set Syntax: Ruby
