* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 12px / 24px $--font-stack-os;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;

  margin: 0;
}

code {
  font-family: $--font-stack-monospaced;
}

.de-emph {
  font-size: .8em;
  font-weight: normal;

  opacity: .85;
}

.tagline {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;

  padding: 1em 0;

  white-space: nowrap;
  letter-spacing: .023em;
}

.groove {
  font-weight: 400;
  @for $i from 1 through length($groove-colors-palette) {
    $color: nth($groove-colors-palette, $i);
    &:nth-child(#{$i}) {
      color: $color;
    }
  }
}


.banner-image {
  display: block;

  margin: 0 auto;

  fill: currentColor;
}

.call-to-action {
  display: inline-block;

  margin: 0 20px;
  padding: 12px 30px;

  text-decoration: none;

  border: 1px solid;
  border-radius: .2em;
}

.info {
  line-height: 1.63em;

  display: block;

  max-width: 760px;
  margin-bottom: 30px;
  padding: 29px 5em 29px 0;

  white-space: pre-line;
  letter-spacing: .017em;

  border-top: 1px solid $transparent;
  border-bottom: 2px solid $transparent;
  a {
    text-decoration: none;
  }
  cite a {
    transition: $--transition;
    animation-duration: 3500ms;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:hover{
      animation-play-state: running;
    }
  }
}

@each $mode in $--BRIGHTNESS-MODES {
  $spin-colors-i: 0;
  @keyframes spin-colors-#{$mode} {
    @each $k, $v in map-get($palette, 'accents') {
      $color: map-get($v, $mode);
      $spin-colors-i: $spin-colors-i + (100 / 7);
      #{$spin-colors-i}% {
        color: $color;
      }
    }
  }
}

.icon {
  display: inline-block;

  vertical-align: text-top;

  fill: currentColor;
}

.pill-switch {
  display: inline-block;
  label {
    font-size: 13px;

    position: relative;

    display: inline-block;

    margin-right: 2px;
    padding: 3px 12px;

    cursor: pointer;
    transition: $--transition;

    border-radius: $--border-radius;
    background: $transparent;
    &:last-of-type {
      margin-right: 0;
    }
  }
  input {
    display: none;
  }
  & + & {
    margin-left: 40px;
  }
  &.accents {
    label {
      &::after {
        position: absolute;
        top: 100%;
        left: 50%;

        display: block;

        width: 100%;
        height: 2px;
        margin-top: 2px;
        margin-left: -50%;

        content: '';
        transition: $--transition;
        transform: scaleX(.5);
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
    input:checked + label {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.checkbox {
  display: inline-block;

  vertical-align: top;

  label {
    display: block;

    width: 24px;
    height: 24px;

    cursor: pointer;
  }
  input {
    display: none;
  }
}
