.editor {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.pane {
  position: relative;

  display: flex;
  &.top, &.panel {
    order: 0;
    align-self: stretch;
  }
  &.view, &.panel {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  &.tabs, &.panel {
    flex: 0 0 auto;
  }
  &.top, &.code, &.statusbar {
    flex: 1 1 auto;
  }
  &.findreplace {
    flex: 1 1 auto;
  }
}

.sidebar {
  line-height: 16px;

  padding: 14px 0 0 24px;

  cursor: default;
  white-space: nowrap;

  border-right: 1px solid $transparent;
  h1 {
    font-size: 13px;

    margin-bottom: 5px;

    text-transform: uppercase;
  }
}

.tree-view {
  display: block;

  list-style-type: none;
  li {
    padding: 5px 24px 5px 16px;
    .icon {
      margin-right: 4px;

      vertical-align: middle;
    }
    > ul {
      margin-top: 5px;
      padding-bottom: 0;
    }
  }
}

@each $k, $v in $opt-sidebar-spacing {
  .sidebar-#{$k} .tree-view li {
    padding-top: #{$v}px;
    padding-bottom: #{$v}px;
  }
}

@each $v in $opt-sidebar-font-size {
  .sidebar-font-size-#{$v} {
    .tree-view li {
      font-size: $v + 1px;
    }
    .sidebar h1 {
      font-size: $v + 2px;
    }
  }
}

.tabs {
  line-height: 51px;

  height: 51px;
  padding-right: 48px;

  border-bottom: 1px solid $transparent;
  > .icon {
    position: absolute;
    top: 50%;
    right: 12px;

    transform: translateY(-50%);
  }
}

@each $k, $v in $opt-tabs-size {
  .tabs-#{$k} {
    .tabs {
      line-height: $v * 1px;

      height: $v * 1px;
    }
  }
}

.tab {
  min-width: 80px;
  margin-bottom: -1px;
  padding: 0 12px;
  padding-left: 16px;

  cursor: default;
  white-space: nowrap;
  text-decoration: none;

  border-right: 1px solid $transparent;
  border-left: 1px solid $transparent;
  .icon {
    margin-left: 8px;

    vertical-align: middle;
  }
  &:first-of-type {
    border-left: 0;
  }
}

@each $v in $opt-tabs-font-size {
  .tabs-font-size-#{$v} {
    .tab {
      font-size: $v + 1px;
    }
  }
}

.underline-modified-tabs {
  @each $k, $v in $opt-underline-modified-thickness {
    &.underline-modified-tabs-#{$k} {
      .tab {
        border-bottom: ($v * 1px) solid $transparent;
      }
    }
  }
}

.tabs-bold {
  .tab {
    font-weight: bold;
  }
}

.panel {
  white-space: nowrap;
}

.statusbar {
  $initial-padding: 12px;

  padding: 6px $initial-padding;
  padding-right: 312px;

  border-top: 1px solid $transparent;
}

@each $k, $v in $opt-statusbar-size {
  .statusbar-#{$k} {
    .statusbar {
      padding-top: $v * 1px;
      padding-bottom: $v * 1px;
    }
  }
}

.statusbar-bold .statusbar {
  font-weight: bold;
}

@each $v in $opt-statusbar-font-size {
  .statusbar-font-size-#{$v} {
    .statusbar {
      font-size: $v + 1px;
    }
  }
}

@each $k, $v in $opt-statusbar-button-width {
  .statusbar-button-width-#{$k} {
    .status-button li {
      min-width: $v * 1px;
    }
  }
}

.findreplace {
  padding: 15px 14px;

  border-top: 1px solid $transparent;
  .row {
    display: inline-flex;
    flex-direction: row;

    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  input {
    font-family: $--font-stack-monospaced;
    font-size: 15px;

    display: flex;

    min-height: 36px;
    padding: 4px;

    border: 0;
    outline: none;

    flex: 1 1 auto;
    + .icon {
      margin: 6px 4px;

      vertical-align: middle;
    }
  }
  button {
    min-width: 100px;
    height: 36px;
    padding: 0 30px;

    cursor: default;
    vertical-align: top;

    border: 0;
    outline: none;
    background-color: $transparent;
    &:first-of-type {
      margin-left: 20px;
    }
  }
}

@each $k, $v in $opt-panel-size {
  .panel-#{$k} {
    .findreplace {
      padding-top: $v + 4px;
      padding-bottom: $v + 4px;
    }
  }
}

.buttons-bold {
  button {
    font-weight: bold;
  }
}

@each $v in $opt-buttons-font-size {
  .buttons-font-size-#{$v} {
    button {
      font-size: $v + 1px;
    }
  }
}

.icon-bar {
  display: inline-block;

  margin-right: 20px;

  vertical-align: top;
}

.icon-button {
  display: inline-block;

  padding: 6px 12px;
  .icon {
    vertical-align: top;
  }
}

.code {
  font-family: $--font-stack-monospaced;
  font-size: 18px;

  overflow-y: auto;

  white-space: nowrap;

  //  Scrollbar
  &::-webkit-scrollbar {
    width: 14px;
    height: 16px;
  }
  &::-webkit-scrollbar-track {
    border-left: 1px solid $transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid $transparent;
  }
}

// Set the scrollbar thumb background manually

.dark .code::-webkit-scrollbar-thumb {
  background: $dark-bg0_s;
  background-clip: padding-box;
}

.light .code::-webkit-scrollbar-thumb {
  background: $light-bg2;
  background-clip: padding-box;
}

.content-body {
  font-family: $--font-stack-os;

  position: relative;

  padding: 15px 40px;

  cursor: default;
}

.code-sample {
  width: 100%;

  cursor: text;
}

.feature-preview {
  width: 100%;
  padding: 0;
}

.config-sections {
  display: block;

  list-style-type: none;
  li {
    display: block;

    border-bottom: 1px solid $transparent;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.opt-info {
  display: inline-block;

  width: 250px;
  margin-right: 16px;
  padding: 16px;

  vertical-align: middle;

  border-right: 1px solid;
  border-right-color: inherit;
  h1 {
    font-size: 15px;
    font-weight: 600;
  }
  p {
    font-size: 13px;
    line-height: unset;

    margin-top: 12px;

    white-space: pre-line;

    opacity: .8;
  }
  + div {
    display: inline-block;

    vertical-align: middle;
  }
}

.status-container {
  cursor: default;
}

.status-button {
  position: absolute;
  right: 0;

  display: block;
  li {
    line-height: 16px;

    display: inline-block;

    box-sizing: content-box;
    min-width: 75px;
    padding: 0 16px;

    cursor: default;
    text-align: center;

    border-left: 1px solid $transparent;
  }
}

.panel-button-control {
  margin-right: 12px;
  .icon {
    vertical-align: top;
  }
}

/**
 * Disable Borders Option
 */

.no-borders {
  .statusbar, .findreplace {
    border-top: 0;
  }
  .tabs {
    border-bottom: 0;
  }
  .sidebar, .tab {
    border-right: 0;
  }
  .tab {
    border-left: 0;
  }
  .code::-webkit-scrollbar-track {
    border-left: 0 !important;
  }
}

/**
 * Disable Folder Icons
 */

.disable-folder-icons {
  .tree-view li .icon {
    display: none;
  }
}

/**
 * Disable Panels Button
 */

.disable-panels-button {
  .panel-button-control {
    display: none;
  }
}
