// Dark Palette
$dark-bg: #282828;
$dark-red: #fb4934;
$dark-green: #b8bb26;
$dark-yellow: #fabd2f;
$dark-blue: #83a598;
$dark-purple: #d3869b;
$dark-aqua: #8ec07c;
$dark-gray: #a89984;
$dark-bg0_h: #1d2021;
$dark-bg1: #3c3836;
$dark-bg2: #504945;
$dark-bg3: #665c54;
$dark-bg4: #7c6f64;
$dark-bg0_s: #32302f;
$dark-fg4: #a89984;
$dark-fg3: #bdae93;
$dark-fg2: #d5c4a1;
$dark-fg1: #ebdbb2;
$dark-fg0: #fbf1c7;
$dark-orange: #fe8019;

// Light Palette
$light-bg: #fbf1c7;
$light-red: #9d0006;
$light-green: #79740e;
$light-yellow: #b57614;
$light-blue: #076678;
$light-purple: #8f3f71;
$light-aqua: #427b58;
$light-gray: #7c6f64;
$light-bg0_h: #f9f5d7;
$light-bg1: #ebdbb2;
$light-bg2: #d5c4a1;
$light-bg3: #bdae93;
$light-bg4: #a89984;
$light-bg0_s: #f2e5bc;
$light-fg4: #7c6f64;
$light-fg3: #665c54;
$light-fg2: #504945;
$light-fg1: #3c3836;
$light-fg0: #282828;
$light-orange: #af3a03;

// Colors shared between dark & light modes
$neutral-red: #cc241d;
$neutral-green: #98971a;
$neutral-yellow: #d79921;
$neutral-blue: #458588;
$neutral-purple: #b16286;
$neutral-aqua: #689d6a;
$neutral-gray: #928374;
