@mixin accent-colored($color) {
  .panel-button-control:hover {
    color: $color;
  }

  .status-button li:hover {
    color: $color;
  }

  .tabs, .row {
    > .icon:hover {
      color: $color;
    }
  }

  .icon-button {
    &.selected > .icon {
      color: $color;
    }
  }

  .tree-view {
    > li {
      &.expanded, &.selected, &:hover {
        color: $color;
        > .icon {
          color: $color;
        }
      }
    }
  }

  .commands li .match {
    color: $color;
  }

  // Underline Modified Tabs

  &.underline-modified-tabs .tab.modified {
    border-bottom-color: $color;
  }

  // Colored Tooltips
  &.colored-tooltips {
    .tooltipped::after {
      background-color: $color;
    }
  }
}

@mixin widget-input {
  font-family: $--font-stack-monospaced;
  font-size: 15px;

  min-height: 36px;
  padding: 4px;

  border: 0;
  outline: none;
}
