$white: #fff;
$black: #000;
$faded-border: fade-out($dark-bg, .93);
$groove-colors-palette: (
  $dark-red,
  $dark-green,
  $dark-yellow,
  $dark-blue,
  $dark-purple,
  $neutral-red,
  $neutral-green,
  $neutral-yellow,
  $neutral-blue,
  $neutral-purple,
  $neutral-aqua
);
