$--font-stack-os: -apple-system, 'SFNSText-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
$--font-stack-monospaced: 'Fira Mono', monospaced;
$--BRIGHTNESS-MODES: ('dark', 'light');
$--CONTRAST-MODES: ('soft', 'medium', 'hard');
$--transition: all 200ms linear;
$--border-radius: 3px;

/**
 * Sublime Options
 */

$opt-sidebar-spacing: (
  'cramped': 1,
  'compact': 3,
  'comfortable': 7,
  'cozy': 9,
);

$opt-sidebar-font-size: (
  10,
  12,
  13,
  14,
  15,
  16,
);

$opt-statusbar-size: (
  'xxs': 0,
  'xs': 2,
  's': 4,
  'l': 8,
  'xl': 10,
  'xxl': 12,
);

$opt-tabs-size: (
  'xxs': 33,
  'xs': 39,
  's': 45,
  'l': 57,
  'xl': 63,
  'xxl': 69,
);

$opt-tabs-font-size: (
  7,
  8,
  9,
  10,
  12,
  13,
  14,
  15,
);

$opt-underline-modified-thickness: (
  'default': 1,
  'thick': 2,
);

$opt-panel-size: (
  'xxs': 2,
  'xs': 4,
  's': 8,
  'l': 13,
  'xl': 15,
  'xxl': 17,
);

$opt-buttons-font-size: (
  10,
  12,
  13,
  14,
  15,
  16,
);

$opt-statusbar-font-size: (
  10,
  12,
  13,
  14,
  15,
  16,
);
